rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // arXiv documents
    match /arxiv_docs/{document_id} {
      allow read: if true;
      allow write: if false; // Use Cloud functions

      match /versions/{version} {
        allow read: if true;
        allow write: if false; // Use Cloud functions
      }
    }

    // arxiv_metadata
    match /arxiv_metadata/{document_id} {
      allow read: if true;
      allow write: if false; // Use Cloud functions
    }

    // arxiv_collections
    match /arxiv_collections/{collection_id} {
      allow read: if true;
      allow write: if false; // Use Cloud functions
    }
  }
}
